<!doctype html>
<html ng-app="app">
<header>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <!--<link rel="stylesheet" href="bower_components/bootstrap/superhero.bootstrap.min.css" />-->
    <link rel="stylesheet" href="app/styles.css" />

</header>
<body ng-controller="TextController">

<div class="container">

    <div ng-controller="CartController">
        <div ng-repeat="item in items">
            <span>{{item.title}}</span>
            <input ng-model="item.quantity"/>
            <span>{{item.price | currency}}</span>
            <span>{{item.price * item.quantity | currency}}</span>
        </div>
        <div>Total: {{totalCart() | currency}}</div>
        <div>Discount: {{bill.discount | currency}}</div>
        <div>Subtotal: {{subtotal() | currency}}</div>
    </div>

</div>
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="app/controllers/controllers.js"></script>
<script src="app/controllers/deathRayCtrl.js"></script>

</body>
</html>